body {
	text-align: center;
	background: #9596A2;
}
#inp {
  height: 50px;
  width: 50%;
  font-size: 30px;
  background: #000;
  border-radius: 5px;
  border: none; 
  margin: 50px auto;
  padding: 10px;
  color: #fff;
  outline: none;
}