#circle {
	clip-path: circle(50.0% at 50% 50%);
	background: blue;
	width: 500px;
	height: 500px;
}
#circle2 {
	background: #000;
	clip-path: circle(38.0% at 50% 50%);
	width: 400px;
	height: 400px;
	margin: 0 auto;
	position: absolute;
	top: 50px;
	left: 60px;
}
#test {
	width: 600px;
	height: 0;
	background: #fff;
}
