#out {
	margin: 0 auto;
	position: relative;
	top: 300px;
	width: 500px;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 30px;
}

#data {
	display: block;
	margin: 0 auto;
	top: 300px;
	position: relative;
	width: 300px;
	height: 40px;
	font-family: Arial, sans-serif;
	font-size: 30px;
	outline: none;
	text-align: center;
}
#new {
	display: none;
	margin: 0 auto;
	position: relative;
	top: 320px;
	width: 150px;
	height: 40px;
	background: orange;
	border: 2px solid black;
	border-radius: 5px;
}

#new:hover {
	cursor: pointer;
	box-shadow: 0 0 10px 0 rgba(0,0,0, .5);
}
#new active {
	outline: none;
	box-shadow: 0 0 30px 0 rgba(0,0,0, .2);
}